<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>PM - Sign Up</title>
</head>
<body>
    <main class="container">
        <div class="pm-login-form card">
            <h2>Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                    {{ form.email.label }}
                    {%  if form.email.errors %}
                        {{ form.email(placeholder="Your email") }}
                        <div class="err">
                            <!-- <b>Wrong email</b> -->
                            {% for error in form.email.errors %}
                                <b> {{ error }} </b>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(placeholder="Your email") }}
                    {% endif %}
                    {{ form.password.label }}
                    {%  if form.password.errors %}
                        {{ form.password(placeholder="Your password") }}
                        <div class="err">
                            <!-- <b>Passwords do not match</b> -->
                            {% for error in form.password.errors %}
                                <b> {{ error }} </b>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(placeholder="Your password") }}
                    {% endif %}
                    {{ form.submit }}
            </form>
        </div>
    </main>
</body>
</html>