{% extends "layout.html" %}

{% block page %}
    <div class="pm_boards_page">
        <div class="pm_boards_container">
            <div class="pm_boards">
                {% for project_object in projects %}
                    <div class="board_header">
                        {{ project_object.project_name }} 
                    </div>
                    <div class="board_content">
                        <div class="description">
                            {{ project_object.description }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock page %}